body {
  background-color: rgb(225, 225, 225);
}

.box1 {
  margin-top: 40px;
}

.col1 {
  background-color: white;
  padding: 0px;
}

.row1 {
  text-align: end;
  margin-bottom: 20px;
  padding-right: 15px;
  margin-top: 20px;
  height: 30px;
}

.row1 > h4 {
  font-weight: 400;
}

.row2 {
  text-align: end;
  margin-bottom: 20px;
  padding-right: 15px;
  height: 30px;
}

.row2 > h4 {
  font-weight: 500;
}

.button1 {
  background-color: rgb(152, 152, 152);
  border-radius: 0px;
  border: none;
  padding: 15px;
}

.button1:hover {
  background-color: rgb(101, 101, 101);
}

.button2 {
  background-color: rgb(5, 161, 161);
  border-radius: 0px;
  border: none;
  padding: 15px;
}

.button2:hover {
  background-color: rgb(0, 137, 137);
}

.button3 {
  background-color: rgb(47, 78, 192);
  border-radius: 0px;
  border: none;
  padding: 15px;
}

.buttonDis:disabled {
  background-color: transparent;
  border: none;
}
