<div class="container box1">
  <div class="row justify-content-center">
    <div class="col-6 col1">
      <div class="row row1">
        <h4 id="operaciones"></h4>
      </div>
      <div class="row row2">
        <h4  id="resultado"></h4>
      </div>
      <div class="row">
        <div class="btn-group">
          <button class="btn btn-primary w-25 buttonDis" disabled ></button>
          <button class="btn btn-primary w-25 buttonDis" disabled ></button>
          <button class="btn btn-primary w-25 button3 borrar">DEL</button>
          <button class="btn btn-primary w-25 button3 borrar">AC</button>
          </div>
        <div class="btn-group">
          <button class="btn btn-primary w-25 button2">1/x</button>
          <button class="btn btn-primary w-25 button2">√</button>
          <button class="btn btn-primary w-25 button2">^2</button>
          <button class="btn btn-primary w-25 button2 simbolo">/</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary w-25 button1 num">7</button>
          <button class="btn btn-primary w-25 button1 num">8</button>
          <button class="btn btn-primary w-25 button1 num">9</button>
          <button class="btn btn-primary w-25 button2 simbolo">*</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary w-25 button1 num">4</button>
          <button class="btn btn-primary w-25 button1 num">5</button>
          <button class="btn btn-primary w-25 button1 num">6</button>
          <button class="btn btn-primary w-25 button2 simbolo">-</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary w-25 button1 num">1</button>
          <button class="btn btn-primary w-25 button1 num">2</button>
          <button class="btn btn-primary w-25 button1 num">3</button>
          <button class="btn btn-primary w-25 button2 simbolo">+</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary w-25 button1 simbolo">.</button>
          <button class="btn btn-primary w-25 button1 num">0</button>
          <button class="btn btn-primary w-25 button1 num">00</button>
          <button class="btn btn-primary w-25 button2" id="igual">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
